# Dependencies
node_modules/
.npm
.eslintcache

# Build outputs
dist/
source/
plugins/*
!plugins/.keep
themes/*
!themes/.keep
core/*.zip
core/*.tar.gz
!core/.keep
marketplace.json

# Local env files
.env
.env.backup
*.env.backup
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
build.log

# OS Files
.DS_Store
Thumbs.db
